/* basic colors */
$color-white = #FFFFFF
$color-main  = #747474
$color-beige = #111111
$color-black = #1A1A1A
$color-gary = #282828

/* theme colors */
$dark-red    = #E80C1C
$dark-pink   = #F53156
$dark-yellow = #F7D117
$dark-orange = #F06807
$dark-blue   = #1999EC
$dark-purple = #A000F5

/* modify value of $theme-color to get different theme colors */
$theme-color            = $dark-purple
$theme-text-color       = $color-main
$theme-background       = $color-black
$theme-code-background  = $color-beige
$theme-seperator        = $color-main
$theme-dotted-seperator = $color-main

color-revert()
  color $theme-background
  background-color $theme-color

@import '_helpers/mixins'

@import '_typography/typo.css'
@import '_typography/highlight.monkyberry'
@import '_typography/code'

@import '_base'
@import '_partial/header'
@import '_partial/index-entry'
@import '_partial/archive-entry'
@import '_partial/article'
@import '_partial/footer'
@import '_partial/pagination'
