/**
 * Monkyberry Theme
 */
.highlight
  .code > pre
    display block
    overflow-x auto
    padding 0.5em
    background #111111
    color #eee
    font-family Ayuthaya,Roboto Mono,monospace
    .line
      line-height 1.8em
    .comment
      color #999
      font-style italic
    .string
      color #249d7f
    .attr,
    .literal
      color #ee8b16
    .built_in，
    .params
      color #aa573c
    .keyword
      color #955ae7
    .name
      color #1c8ce6


.hljs
  .comment,
  .hljs-comment
    color #999
    font-style italic

.hljs,
.hljs-subst
  color #ffffff

.hljs
  .string,
  .hljs-string
    color #249d7f

.hljs
  .attr,
  .literal,
  .hljs-link,
  .hljs-attr
    color #ee8b16

.hljs
  .built_in,
  .hljs-params,
  .hljs-title,
  .params
    color #aa573c

.hljs
  .keyword,
  .hljs-keyword
    color #955ae7

.hljs
  .hljs-name,
  .name
    color #1c8ce6