/**
 * Monkyberry Theme
 */

.hljs
  display block
  overflow-x auto
  padding 0.5em
  background #111111
  font-family Ayuthaya,Roboto Mono,monospace
  .line
    line-height 1.8em


.hljs
  .comment
    color #999
    font-style italic

.hljs,
.hljs-subst
  color #ffffff

.hljs
  .hljs-string
    color #249d7f

.hljs
  .attr,
  .literal
    color #ee8b16

.hljs
  .built_in,
  .hljs-params
    color #aa573c

.hljs
  .keyword
    color #955ae7

.hljs
  .hljs-name,
  .name
    color #1c8ce6