<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="copyright text-muted">
          Powered By <a target="_blank" href="https://hexo.io/">Hexo.</a> 2017 
          <a class="rss" href="<%= config.rss.url %>"><i class="fa fa-<%= config.rss.icon %>"></i></a>
        </p>
        <p class="copyright text-muted">
          <a target="_blank" href="https://github.com/blackcater">blackcater</a> &copy; All Right Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
