<%- partial('_partial/header', {headerType: 'tag'}) %>
<!-- Archive List -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            all tags
        </div>
    </div>
</div>
<%- partial('_partial/pagination') %>
