.background-wrapper
  width 100%
  background-color $color-black
  &::before
    background-color url("data:image/svg+xml;utf8,<?xml version='1.0' standalone='no'?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg t='1484057841899' class='icon' style='' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2044' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100'><defs><style type='text/css'></style></defs><path d='M1023.978511 0 1023.978511 1024 0.021489 1024 1023.978511 0z' p-id='2045' fill=''#1a1a1a'></path></svg>")
    background-repeat no-repeat
    background-size 100% 100%
    content ''
    display block
    height 6.5em
    position absolute
    width 100%

/* Disqus */
#disqus_thread
  margin-bottom remify(40px)
#disqus_go_to_comment
  position fixed
  left: remify(-100px)
  top remify(300px)
  &:hover
    background-color $theme-background
    color $theme-color
  i
    font-size 20px
#go_to_top
  display none
  position fixed
  left remify(-100px)
  bottom remify(150px)
  &:hover
    background-color $theme-background
    color $theme-color
  i
    font-size 20px

@media only screen and (max-width: 980px)
  #disqus_go_to_comment
    font-size 0
    right remify(-20px)
    i
      font-size 20px

@media only screen and (max-width: 820px)
  #disqus_go_to_comment
    display none
  #go_to_top
    display none
    font-size 0


/* normal style */
.post-tags,
.post-info,
.post-words
  font-size remify(14px)
  font-style italic
  text-align center
.post-info
  margin-bottom remify(5px)
  .info
    padding 0 remify(8px)
    border-right 1px dotted $theme-dotted-seperator
    &:last-child
      border-right none
  .categories a
    padding remify(2px) remify(4px)
    border-radius remify(2px)
.post-tags
  font-style italic
  > a
    display inline-block
    padding 0 remify(4px)
    margin-right remify(2px)
    border-radius remify(2px)
.post-words
  text-indent 2em
  font-size remify(13px)
  font-style italic
  .post-word
    float left
  .post-read
    float right
.post-content
  padding-top remify(40px)
  padding-bottom @padding-top
  font-size remify(15px)

/* mobile style */
@media only screen and (max-width: 414px)
  .post-tags,
  .post-info
    font-size remify(12px)
    .info
      padding 0 remify(5px)
    .time
      display none
  .post-content
    font-size remify(12.5px)
