footer
  padding remify(35px) 0
  border-top 1px solid $theme-seperator
  font-size remify(12px)
  text-align center
  .rss
    display inline-block
    width remify(20px)
    height remify(20px)
    border-radius remify(4px)
    i
      font-size remify(16px)
      line-height remify(20px)
      text-align center
